html {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    background-image: url("../pics/pharm2code_tilt.jpg");
}

body {
    background-color: transparent;
    align-items: center;
    color: silver;
}

h2 {
    padding-block: 0.5rem;
    color: #00857c;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    font-family: Menlo Regular;
}

h6 {
    font-family: Menlo Regular;
    color: #00857c;
}
p {
    padding-block: 0.125rem;
    color: silver;
}

ol {
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: silver;
}

a,a:link,a:visited {
    color: lime;
    text-decoration: none;
}

/* Blog CSS Below */
.myBlog {
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: black;
    width: fit-content;
    max-width: 1280px;
    min-width: 90vw;
    line-height: 1.6;
}
@media (max-width:1400px) {
    .myBlog {
        margin: 1rem 5vw;
    }
}

.myBlog>div {
    padding: 1rem;
}

.accordion-item,.accordion-header,.accordion-collapse,.accordion-body,.accordion-button {
    background-color: transparent;
    text-decoration: none;
}

@media (max-width:540px) {
    .col-sm-4>p,.col-sm-6>p,.col-sm-8>p,ol>li {
        margin-left: -2rem;
        margin-right: -3rem;
    }
}