@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('../libraries/Menlo-Regular.woff') format('woff');
}

.menloRegular {
    font-family: Menlo Regular;
}

.cornflowerBlue {
    color: cornflowerblue;
}

.chocolate {
    color: chocolate;
}

.text-silver {
    color: silver;
}

.text-gray {
    color: gray;
}

.textShadowBlack {
    text-shadow: 1px 1px black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: transparent;
  align-items: center;
}

#mainContent {
    width: 100%;
}

a,
a:link,
a:visited {
  color: lime;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    opacity: 0.75;
}

#githubContributions {
    width: 100%;
}

#githubContributions>a>img {
    width: 90vw;
    max-width: 960px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#githubContributions>a:hover,
#githubContributions>a>img:hover {
    opacity: 1;
}

#carousel {
    z-index: 1;
    margin: 4rem 0;
    width: 100vw;
    background-color: rgb(50,50,50);
}

.carousel-inner {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(50,50,50);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  color: white;
}

footer>a,
footer>p {
  margin: auto 0;
  text-shadow: 1px 1px black;
}

footer>p>span {
  font-style: italic;
}

footer>p>img {
  animation: slowSpin 5s ease-in-out infinite;
  -webkit-filter: drop-shadow(1px 1px 1px black);
  filter: drop-shadow(1px 1px 1px black);
}

@keyframes slowSpin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(-1, 1);
  }

  100% {
    transform: scale(1);
  }
}

.socialLogo {
  max-height: 1.5rem;
  transition: transform 0.5s ease-in-out;
  -webkit-filter: drop-shadow(1px 1px 1px black);
  filter: drop-shadow(1px 1px 1px black);
}

.socialLogo:hover {
  transform: scale(-1, 1) scale(1);
}