*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

html {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    background-image: url("../pics/pharm2code_tilt.jpg");
    background-color: black;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: transparent;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    color: white;
}

.socialLogo {
    max-height: 1.5rem;
    transition: transform 0.5s ease-in-out;
}

.socialLogo:hover {
    transform: scale(-1, 1) scale(1);
}

h5 {
    color: white;
}

.myArticles {
    margin: 2rem auto;
    padding: 1rem;
    color: silver;
    border-radius: 0.25rem;
    background-color: transparent;
    width: 90vw;
    max-width: 1280px;
}
@media (max-width:1400px) {
    .myArticles {
        margin: 1rem 5vw;
    }
}

.row {
    margin: 2rem auto;
    padding: 2rem;
    gap: 2rem;
}

.card {
    background-color: black;
    color: silver;
    padding: 1rem;
    border-radius: 0.25rem;
}

.card>img {
    border-radius: 0.25rem;
}

.btn {
    border: none;
    background-color: dimgray;
    color: lime;
}

.btn:hover {
    background-color: lime;
    color: black;
    transform: scale(1.1);
}