html {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background-color: rgb(50, 50, 50);
}

body {
  background-color: transparent;
  align-items: center;
}

h1 {
  color: white;
  font-family: Menlo Regular;
  text-align: center;
  text-shadow: 3px 3px black;
}

h3, h6 {
  text-align: center;
  text-shadow: 2px 2px black;
}

h5 {
  color: cornflowerblue;
}

#sortBox {
    margin: 1.5rem auto;
    width: fit-content;
    padding: 1rem;
}

#sortButtons>button {
    margin: 0 -0.125rem;
    transition: all 0.25s ease-in-out;
    background-color: black;
    padding: 0.5rem 0;
    width: 6rem;
    color: gray;
    border: 1px solid transparent;
    text-shadow: 1px 1px 1px black;
}

@media (max-width:350px) {
    #sortButtons>button {
        width: 5rem;
        font-size: smaller;
    }
}

@media (max-width:300px) {
    #sortButtons>button {
        width: 4rem;
        font-size: smaller;
    }
}

#sortButtons>button:hover,
#sortButtons>button.active {
    color: lime;  
    /* text-shadow: none; */
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card>cite {
    color: gray;
    margin-top: -3rem;
    padding-bottom: 1rem;
    transition: all 0.25s ease-in-out;
}

.card>cite.hide {
    transform: scale(0.75) translateY(2.5rem);
}

.myArticles {
  padding-top: 1rem;
  margin-bottom: -2rem;
  color: silver;
  border-radius: 0.25rem;
  background-color: transparent;
  width: 75vw;
  max-width: 800px;
  line-height: 1;
}

.myProjects {
  max-width: 1400px;
  justify-content: space-between;
  display: flex;
}

.row {
  margin: 2rem auto;
  padding: 2rem;
  gap: 2rem;
}

.card-body>.btnContainer>.btn,
.card-body>.btn {
    transform: translateX(2rem);
}

.card-body>.btnContainer>.btnDark,
.card-body>.btnDark {
    transform: translateX(-2rem);
}

.card-body>.btnContainer>.btn.show,.btn.show {
    opacity: 1 !important;
    transform: translateX(0);
}